---
import { Image } from "astro:assets";
import Icon from "astro-icon";
import logo from "../assets/jojologo.svg"; // svgReference === '/src/image.svg'
---

<div
  class="relative z-10 py-4 px-6 flex justify-between"
  transition:name="page header"
  transition:persist
>
  <a
    href="/"
    aria-label="go back to home page"
    class="flex justify-center items-center gap-2"
  >
    <Image
      src="../assets/jojologo.svg"
      width={50}
      height={50}
      alt="JOJO Soba"
    />
    <span class="font-bold grow text-4xl">JOJO Soba</span>
  </a>
  <div class="flex items-center gap-3">
    <a
      target="_blank"
      href="https://vercel.com/templates/astro/view-transitions"
      class="flex relative overflow-hidden group bg-gradient-to-br from-black/10 to-black/40 rounded-md px-2.5 h-7 text-gray-200 hover:text-white transition-colors gap-1 items-center"
    >
      <span class="text-xs">
        <span class="font-bold">Our Course</span>
      </span>
      <Icon name="ion:book" class="h-4 w-4" />
    </a>
    <a
      target="_blank"
      aria-label={"github repository"}
      href="https://github.com/jojosoba/web"
      class="text-gray-200 hover:text-white"
    >
      <Icon name="mdi:github" class="h-7 w-7" />
    </a>
  </div>
</div>
