---
import Icon from "astro-icon";

type Props = {
  href: string;
  iconName?: string;
  floor?: number;
  title: string;
};

const { href, iconName, floor, title } = Astro.props;
console.log(Astro.url.pathname.includes(href));
---

<li>
  <a
    {href}
    class={`flex gap-4 ${
      Astro.url.pathname.includes(href) && href != "/"
        ? "bg-fuchsia-800 custom-pattern text-white hover:text-red"
        : "text-zinc-400 hover:text-zinc-100 "
    } py-3.5 px-5 font-semibold transition-all duration-300`}
  >
    <Icon name={iconName} class="h-6 w-6" />
    {title}
    {
      floor ? (
        <div class="ml-auto -rotate-3 bg-secondary-500 px-2 rounded-md text-white">
          FLR {floor}
        </div>
      ) : null
    }
  </a>
</li>
