---
import SideMenuItem from "./SideMenuItem.astro";
import { sidebarPlaylists } from "../../lib/data";
import SideItemCard from "./SideItemCard.astro";
import StoryCard from "../StoryCard.astro";
import { getCollection } from "astro:content";
const storyEntries = await getCollection("stories");
---

<div class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg">
    <ul>
      <SideMenuItem href="/shop" iconName="carbon:store" title="Shop" />
      <SideMenuItem href="/story" iconName="mdi:heart-outline" title="Story" />
      <SideMenuItem href="/menu" iconName="carbon:book" title="Menu" />
      <SideMenuItem
        href="/lab"
        floor={3}
        iconName="tabler:flask-2"
        title="Lab"
      />
      <SideMenuItem
        href="/cafe"
        floor={2}
        iconName="tabler:coffee"
        title="Cafe"
      />
      <SideMenuItem href="/" floor={1} iconName="tabler:home" title="Home" />
    </ul>
  </div>

  <div class="bg-zinc-900 rounded-lg flex-1">
    <ul>
      <SideMenuItem href="#" iconName="ic:round-chat">Blogs</SideMenuItem>
    </ul>
    <ul class="pl-2">
      {storyEntries.map((story) => <SideItemCard playlist={story.data} />)}
    </ul>
  </div>
</div>
