---
import { getCollection } from "astro:content";
import PageHeader from "../../components/PageHeader.astro";
import PlaylistCard from "../../components/PlaylistCard.astro";
import PlaylistItemCard from "../../components/PlaylistItemCard.astro";
import Layout from "../../layouts/Layout.astro";
import { playlists, morePlaylists } from "../../lib/data";
import StoryCard from "../../components/StoryCard.astro";
import StoryBigCard from "src/components/StoryBigCard.astro";

const storyEntries = await getCollection("stories");
---

<Layout title="Home">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-context"
    style="min-height:300px;--context-color:#134e4a;"
  >
    <PageHeader client:load transition:name="soba" type="soba" />
    <div class="relative z-10 px-6">
      <h1 class="text-4xl font-bold">The MENU</h1>
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-t -z-10 from-zinc-900 via-zinc-900/80"
    >
    </div>
  </div>
  <div class="px-6 relative z-10 mt-4">
    <h2 class="text-2xl font-bold">Made for you</h2>
    <div class="flex flex-wrap mt-6 gap-4">
      {storyEntries.map((story) => <StoryBigCard story={story.data} />)}
    </div>
  </div>
</Layout>
